<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Display a map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href="https://fonts.googleapis.com/css?family=Caveat|Kalam:300|Montserrat|Tangerine&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
  <nav>
    <div><a href="/">SEARCH FOR CITIES</a></div>
    <div><a href="/favorites">FAVORITE CITIES</a></div>
    <div><a href="/travelers">TRAVELERS</a></div>
  </nav>
  <main>
    <%- body %>
  </main>

</body>
</html>