<h1>Search for a city:</h1>

<form action="/search" method="GET">
<div class="city">
	<input type="text" name="city" placeholder="CITY">
	<input type="text" name="state" placeholder="STATE">
	<input type="submit" value="search">
  </div>
</form>